{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        }
      }
    ],
    "react"
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
